html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #39c531;
  --secondary-color: #ce2a7c;
}
